<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<script src="http://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
$(function(){
    $("#button1").click(function(){
        const q=$("#question").val();
        console.log('q:',q);
        $.ajax({
            url: '/query',
            data: 'question='+q,
            success:function(txt){
                console.log(txt);
                $("#div1").html(txt);
            }
        });
    });
});

</script>
</head>
<body>
여행지 추천 챗봇 서비스입니다.
<input type="text" id="question">
<input type="button" id="button1" value="확인">
<div id="div1"></div>
</body>
<body>
</body>
</html>